body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: arial;
}

.links {
  cursor: pointer;
}
.links:hover {
  color: #3F51B5;
}

.filter:hover {
  background-color: #CFD8DC;
}
